@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 300%;
    letter-spacing: 4px;
}
h1, h2, h3 {
    font-family: Merrywheater, sans-serif;
    text-transform: uppercase;
    color:rgb(128, 158, 156);
}
h2 {
    margin-top: 20px;
    font-size: 120%;
    text-shadow: 1px 1px #000;
    text-align: center;
}
h3 {
    text-shadow: 1px 1px #54595f;
}
#logo { 
    text-align: center;
    font-size: 8vw;
    margin: 15px;
    text-shadow:2px 2px #000;
    width: 100%;
}
/* navigation bar */
a:link {
    text-decoration: none;
}
#navbar {
    background-color: #4f6959;
    font-size: 120%;
    letter-spacing: 3px;
    padding: 15px 0 15px 0;
}
nav {
    text-align: center;
    list-style: none;
}
#navbar li {
    display: inline-block;
    align-items: center;
}
#navbar a {
    color: #fff;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: 0.4s;
}
#navbar a:hover {
    color: #000;
}
.active {
    border-bottom: 2px solid #000;
}
/* main image */
#mainimage {
    text-align: center;
    background-color: #000;
    padding-top: 4px;
}
#mainimage > img {
    object-fit: cover;
    width: 300px;
    height: 400px;  
}
/* intro section */
.pictures > img {
    width: 90%;
    object-fit: cover;
    margin: 20px 20px 0 20px;
}
.container {
    margin: 5px;
    border: 2px solid black;
    text-align: center;
}
em {
    margin: 20px;
    font-size: 12px;
}
.text-box {
    margin: 20px;
    font-size: 100%;
    text-align: justify;
    width: fit-content;
}
.text-box p {
    font-size: 100%;
}
/* footer */
#footer {
    height: 150px;
    background-color: rgb(184, 14, 14);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-networks > li {
    display: inline-block;
}
.social-networks i {
    margin: 20px;
    padding: 10px;
    font-size: 150%;
}
/* cuisine */
.title {
    text-align: center;
    color: #54595f;
    text-shadow:2px 2px #000;
    font-size: 2rem;
}
.recipe {
    border: 2px solid black;
}
.picbox > img {
    margin: 5px;
    width: 90%;
    object-fit: cover;
    justify-content: center;
}
#ingredients, #steps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#ingredients li {
    padding-bottom: 10px;
}
/* survey */
#square {
    margin: 30px;
    border: #000 solid 3px ;
    border-radius: 20px;
    padding:30px;
    background-color: rgb(104, 159, 155);
    height: auto;
}
.button {
    color: #4f6959;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3px;
    border: 2px solid #fdfdfd;
    padding: 6px;
    border-radius: 12px;
    background-color: #000;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #fdfdfd;
    border: 2px solid #000;
}
/* media queries */
@media screen and (min-width: 600px) {
    #columns {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
    .recipe {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
.container {
    object-fit: cover;
    max-width: 320px;
    min-width: 280px;
}
}