@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
h1, h2 {
    font-family: Merrywheater, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:red;
    
}
#logo { 
    text-align: center;
    font-size: 350%;
    margin-top: 15px;
    text-shadow:2px 2px #000;
}
/* navigation bar */

a:link {
    text-decoration: none;
}
#navbar {
    background-color: #54595f;
    font-size: 120%;
    letter-spacing: 3px;
    padding: 15px 0 15px 0;
}
nav {
    text-align: center;
    list-style: none;
}
#navbar li {
    display: inline-block;
}
#navbar a {
    color: #fff;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}
#navbar a:hover {
    color: #000;
}
.active {
    border-bottom: 2px solid #000;
}
/* main image */

#mainimage {
    text-align: center;
    background-color: #000;
    padding-top: 4px;
}
#mainimage > img {
    width: 24%;
    height: 100%;
    object-fit: cover;
    width: 300px;
    height: 400px;  
}
/* intro section */

#intropic > img {
    width: 400px;
    min-height: 300px;
    object-fit: cover;
}
.container {
    border: 1px solid #000;
}
.columns {
    width: 50%;
    float: left;
    padding: 20px;
}