@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
h1, h2 {
    font-family: Merrywheater, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:red;   
}
#logo { 
    text-align: center;
    font-size: 300%;
    margin-top: 15px;
}
a:link {
    text-decoration: none;
}
#navbar {
    background-color: #54595f;
    font-size: 120%;
    letter-spacing: 3px;
    padding: 15px 0 15px 0;
}
nav {
    text-align: center;
    list-style: none;
}
#navbar li {
    display: inline-block;
}
#navbar a {
    color: #fff;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;

}